*.bgn
*.bin
*.bit
*.bld
*.cmd_log
*.drc
*.gise
*.lso
*.ncd
*.ngc
*.ngd
*.ngr
*.pad
*.par
*.pcf
*.prj
*.ptwx
*.stx
*.syr
*.twr
*.twx
*.unroutes
*.ut
*.xise
*.xpi
*.xst
*.xwbt
*.ncd
*.map
*.mrp
*.ngm
*.xrpt
*.xml
*.html

_ngo
_xmsgs
iseconfig
xlnx_auto_0_xdb
xst
webtalk.log

.goutputstream-PKRB1Z