
NET clock LOC = "P94" | IOSTANDARD=LVTTL | PERIOD=31.25ns;

NET switches(7) LOC = "P114" | IOSTANDARD=LVTTL;
NET switches(6) LOC = "P115" | IOSTANDARD=LVTTL;
NET switches(5) LOC = "P116" | IOSTANDARD=LVTTL;
NET switches(4) LOC = "P117" | IOSTANDARD=LVTTL;
NET switches(3) LOC = "P118" | IOSTANDARD=LVTTL;
NET switches(2) LOC = "P119" | IOSTANDARD=LVTTL;
NET switches(1) LOC = "P120" | IOSTANDARD=LVTTL;
NET switches(0) LOC = "P121" | IOSTANDARD=LVTTL;

NET LEDs(7) LOC = "P123" | IOSTANDARD=LVTTL;
NET LEDs(6) LOC = "P124" | IOSTANDARD=LVTTL;
NET LEDs(5) LOC = "P126" | IOSTANDARD=LVTTL;
NET LEDs(4) LOC = "P127" | IOSTANDARD=LVTTL;
NET LEDs(3) LOC = "P131" | IOSTANDARD=LVTTL;
NET LEDs(2) LOC = "P132" | IOSTANDARD=LVTTL;
NET LEDs(1) LOC = "P133" | IOSTANDARD=LVTTL;
NET LEDs(0) LOC = "P134" | IOSTANDARD=LVTTL;

NET Seg7_AN(3) LOC="P85" | IOSTANDARD=LVTTL; # A11
NET Seg7_AN(2) LOC="P79" | IOSTANDARD=LVTTL; # A8
NET Seg7_AN(1) LOC="P56" | IOSTANDARD=LVTTL; # A2
NET Seg7_AN(0) LOC="P48" | IOSTANDARD=LVTTL; # A0
NET Seg7(6) LOC="P75" | IOSTANDARD=LVTTL; # A7
NET Seg7(5) LOC="P83" | IOSTANDARD=LVTTL; # A10
NET Seg7(4) LOC="P66" | IOSTANDARD=LVTTL; # A5
NET Seg7(3) LOC="P67" | IOSTANDARD=LVTTL; # A6
NET Seg7(2) LOC="P58" | IOSTANDARD=LVTTL; # A3
NET Seg7(1) LOC="P61" | IOSTANDARD=LVTTL; # A4
NET Seg7(0) LOC="P81" | IOSTANDARD=LVTTL; # A9
NET Seg7_DP LOC="P51" | IOSTANDARD=LVTTL; # A1

NET Audio LOC="P62" | IOSTANDARD=LVTTL; # B10
